In [12]:
List_of_people = {"Ray Grabanski":{"Employer":"Progressive Ag", "Title": "Head Analyst and Trader", "Fun Fact":"I broke my nose batting in high school"},
          
                  "Brian Strommen":{"Employer":"Progressive Ag", "Title": "Broker", "Fun Fact":"Raises Cattle"},
                  "Henry S":{"Employer":"Progressive Ag", "Title": "Intern", "Fun Fact":"Played Baseball in College"},
                  "Bryce Grabanski":{"Employer":"DGI", "Title": "Summer Analyst", "Fun Fact":"I code for fun in James Caton's Class"}
                 }
List_of_people

{'Ray Grabanski': {'Employer': 'Progressive Ag',
  'Title': 'Head Analyst and Trader',
  'Fun Fact': 'I broke my nose batting in high school'},
 'Brian Strommen': {'Employer': 'Progressive Ag',
  'Title': 'Broker',
  'Fun Fact': 'Raises Cattle'},
 'Henry S': {'Employer': 'Progressive Ag',
  'Title': 'Intern',
  'Fun Fact': 'Played Baseball in College'},
 'Bryce Grabanski': {'Employer': 'DGI',
  'Title': 'Summer Analyst',
  'Fun Fact': "I code for fun in James Caton's Class"}}

In [13]:
import pandas as pd
List_ = pd.DataFrame(List_of_people)

In [14]:
List_

,Ray Grabanski,Brian Strommen,Henry S,Bryce Grabanski
Employer,Progressive Ag,Progressive Ag,Progressive Ag,DGI
Title,Head Analyst and Trader,Broker,Intern,Summer Analyst
Fun Fact,I broke my nose batting in high school,Raises Cattle,Played Baseball in College,I code for fun in James Caton's Class