# Chapter 4: Functional Programming: Rudimentary Statistics and Analytics

## Building a function

In [2]:
def function_name(object1, object2, objectn):
    <operations>

SyntaxError: invalid syntax (3791530785.py, line 2)

### Total

$\sum_{i=0}^{n-1} x_{i}$

In [16]:
n = 0
total = 0
values = [i for i in range(100)]

print("total\t", "value")
for value in values:
    total += value
    print(total, "\t", value)

print("final total:", total)

total	 value
0 	 0
1 	 1
3 	 2
6 	 3
10 	 4
15 	 5
21 	 6
28 	 7
36 	 8
45 	 9
55 	 10
66 	 11
78 	 12
91 	 13
105 	 14
120 	 15
136 	 16
153 	 17
171 	 18
190 	 19
210 	 20
231 	 21
253 	 22
276 	 23
300 	 24
325 	 25
351 	 26
378 	 27
406 	 28
435 	 29
465 	 30
496 	 31
528 	 32
561 	 33
595 	 34
630 	 35
666 	 36
703 	 37
741 	 38
780 	 39
820 	 40
861 	 41
903 	 42
946 	 43
990 	 44
1035 	 45
1081 	 46
1128 	 47
1176 	 48
1225 	 49
1275 	 50
1326 	 51
1378 	 52
1431 	 53
1485 	 54
1540 	 55
1596 	 56
1653 	 57
1711 	 58
1770 	 59
1830 	 60
1891 	 61
1953 	 62
2016 	 63
2080 	 64
2145 	 65
2211 	 66
2278 	 67
2346 	 68
2415 	 69
2485 	 70
2556 	 71
2628 	 72
2701 	 73
2775 	 74
2850 	 75
2926 	 76
3003 	 77
3081 	 78
3160 	 79
3240 	 80
3321 	 81
3403 	 82
3486 	 83
3570 	 84
3655 	 85
3741 	 86
3828 	 87
3916 	 88
4005 	 89
4095 	 90
4186 	 91
4278 	 92
4371 	 93
4465 	 94
4560 	 95
4656 	 96
4753 	 97
4851 	 98
4950 	 99
final total: 4950

In [24]:
# This is a bad idea. Don't copy and paste old code...
print("total\t", "value")
for value in values:
    total += value
    print(total, "\t", value)

total	 value

TypeError: unsupported operand type(s) for +=: 'function' and 'int'

In [21]:
def total(lst):
    total_ = 0
    # in original I used the index of the list
    # . . . 
    # n = len(lst)
    # for i in range(n)
    for val in lst:
        total_ += val
    return total_
total(values)

4950

In [23]:
# now you can just call this function whenever you need it
total(i for i in range(-1000, 10000, 53))

932984

In [26]:
total(["a","b"])

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [28]:
import random
X1 = [3, 6, 9, 12, 15,18,21,24,27,30]
X2 = [random.randint(0,100) for i in range(10)]
total(X1), total(X2)

(165, 462)

### Mean

Let $X_1, X_2,...,X_n$ represent $n$ values from a random variable. For a given dataset, useful descriptive statistics of central tendency include mean, median, and mode, which we built as functions in a previous chapter. 

We define the mean of a set of numbers:
$\bar{X} = \frac{\sum_{i=0}^{n-1} X_{i}} {n}$

In [33]:
# Using the function created for total inside of function definition of mean
def mean(lst):
    n = len(lst)
    mean_ = total(lst) / n
    return mean_
mean(X1), mean(X2)

(16.5, 46.2)

Now let's build the rest of the summary statistical functions

1. median
2. mode
3. variance
4. standard deviation
5. covariance
6. correlation

# Median

In [56]:
def median(lst):
    n = len(lst)
    # we need to sort the list because it's not necessarily in order
    lst = sorted(lst)
    
    # two cases: 
    # 1. list of odd length
    # i % j checks for remainder upon dividing i by j
    if n % 2 != 0:
        middle_index = int((n-1)/2)
        median_ = lst[middle_index]
    # 2. list of even length
    else:
        upper_middle_index = int(n/2)
        lower_middle_index = upper_middle_index - 1
        # pass slice with two middle values to mean()
        median_ = mean(lst[lower_middle_index: upper_middle_index + 1])
    return median_

median([1,2,3,9,4,5])

3.5

In [59]:

median(X1), median(X2)

(16.5, 46.5)

In [61]:
# transform X1 to be of odd length by removing last index
# this is to test the first case in the median() function
median(X1[:-1])

15

In [62]:
sorted(X2)

[5, 15, 26, 36, 43, 50, 68, 70, 73, 76]

# Mode

In [90]:
def mode(lst):
    count_dct = {}
    # create entries for each value with 0
    for key in lst:
        count_dct[key] = 0
    # add up each occurence
    for key in lst:
        count_dct[key] += 1
    
    # calculate max_count up front
    max_count = max(count_dct.values())
    # now we can compare each count to the max count
    mode_ = []
    for key, count in count_dct.items():
        if count == max_count:
            mode_.append(key)
    
    return mode_

lst = [1,1,1,1,1
       2,3,4,5,5,5,5,5,1000,1000]
mode(lst)

[1, 5]

# Variance

$$ \sigma^2 = \frac{\sum_{i=1}^n (X_i - \bar{X})^2}{n}$$

When we are dealing with a sample, which is a subset of a population of observations, then we divide by $n - 1$, the **Degrees of Freedom**, to unbias the calculation. 

$$DoF = n - 1$$

$$ S^2 = \frac{\sum_{i=1}^n (X_i - \bar{X})^2}{n-1}$$

In [104]:
def variance(lst, sample = True):
    list_mean = mean(lst)
    n = len(lst)
    DoF = n - 1
    sum_sq_diff = 0
    
    for val in lst:
        diff = val - list_mean
        # this += sign adds this to the current list
        sum_sq_diff += (diff) ** 2
#        print(val, list_mean, diff **2, sum_sq_diff)
    if sample == False:
        variance_ = sum_sq_diff / n
    else:
        variance_ = sum_sq_diff / DoF
    return variance_
    
variance(X1, sample = True), variance(X1, sample = False)

(82.5, 74.25)

In [106]:
variance(X2, sample = True), variance(X2, sample = False)

(650.6222222222223, 585.5600000000001)

# Standard Deviation

In [108]:
def SD(lst, sample = True):
    SD_ = variance(lst, sample) ** (1/2)
    return SD_

In [113]:
SD(X2, sample = True), SD(X2, sample = False)

(25.507297430778948, 24.19834705098677)

In [112]:
SD(X1, sample = True), SD(X1, sample = False)

(9.082951062292475, 8.616843969807043)