#hello world 
note: Strings are a type of data stored. Print is useful to display an output. You can store different data under different names using =

In [2]:
print("Hello World!")

Hello World!

In [6]:
type("Hello World")

str

In [15]:
## Save "Hello World" as a variable ##

In [11]:
msg = "Hello World"
print(msg)

Hello World

In [13]:
type(msg)

str

In [43]:
msg = "john nash"
#ALL CAPS
msg_upper = msg.upper()
print(msg_upper)
msg_title = msg.title()
msg_title

JOHN NASH

'John Nash'

In [38]:
#Concatenate

#concatenate means to join together. You can join strings together so they form a single string. This is useful for renaming data.

In [26]:
print("A")

A

In [29]:
print("B")

B

In [32]:
print("A" + "B")

AB

In [45]:
a = "A"
b = "B"
print(a + b)

AB

In [48]:
line1 = "You thought it would be easy"
line2 = "You thought it wouldn't be strange"
line3 = "But then you started coding"
line4 = "Things never were the same"
print(line1 + line2 + line3 + line4)

You thought it would be easyYou thought it wouldn't be strangeBut then you started codingThings never were the same

In [50]:
print(line1 + " " + line2 + " " + line3 + " " + line4)

You thought it would be easy You thought it wouldn't be strange But then you started coding Things never were the same

In [61]:
 print (line1 + "\n" + line2)

You thought it would be easy
You thought it wouldn't be strange

In [65]:
#create a new line with "\n"
#print(line1 + "\n")
# Use sep = "string" to insert string between each object passed to print
print(1,2,3,4,sep = "\n")
print (line1, line2, line3, line4, sep = "\n")

1
2
3
4
You thought it would be easy
You thought it wouldn't be strange
But then you started coding
Things never were the same

In [68]:
## Quotes within quotes

In [75]:
print("\"")

"

In [76]:
print('"')

"

In [78]:
# More String Methods

In [86]:
spaces = "           Look at all the spaces in the text!      "
print(spaces)
print(spaces.lstrip())
print(spaces.rstrip())
print(spaces.strip())
# Note that you need parenthesis in specific places for the function to read correctly.

           Look at all the spaces in the text!
Look at all the spaces in the text!
           Look at all the spaces in the text!
Look at all the spaces in the text!

In [92]:
print(spaces.replace(" ",""))
print(spaces.replace("  ",""))
#note bottom still has spaces shorter than 1 space allowed

Lookatallthespacesinthetext!
 Look at all the spaces in the text!

In [94]:
# Working with Numbers

In [97]:
print(1, 1.)

1 1.0

In [103]:
int1 = 1
float1 = 1.
str1 = "1."
print(type(int1), type(float1), type(str1))
print(int1, float1, str1)
#conputer interprets integer as classic number, float as a rounded number with decimals, and string as purely text

<class 'int'> <class 'float'> <class 'str'>
1 1.0 1.

In [106]:
int2 = int1 + int1
print(type(int2),int2)

<class 'int'> 2

In [109]:
float2 = int1 + float1
print(type(float2), float2)
#defaults to making float when an integer is added to a float

<class 'float'> 2.0

In [110]:
#If you attempt to sum int or float with string, error results

In [112]:
int1 + str1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [114]:
## transform value to string

In [117]:
str11 = str(int1) + str1
str11

'11.'

In [119]:
str11 = str(float1) + str1
str11

'1.01.'

In [123]:
total = ""
for i in range(20):
    total = total + str(i)
    print(total)

0
01
012
0123
01234
012345
0123456
01234567
012345678
0123456789
012345678910
01234567891011
0123456789101112
012345678910111213
01234567891011121314
0123456789101112131415
012345678910111213141516
01234567891011121314151617
0123456789101112131415161718
012345678910111213141516171819